* {
  color: white;
  font-family: Helvetica;
  box-sizing: border-box;
}

html {
  background-image: url("backgroundimage.jpg");
}

.section-link {
  background-color: steelblue;
  text-align: right;
  width: 100%;
  position: fixed;
  top: 0px;
}

.section-link a{
  background-color: steelblue;
  margin: 0.313rem;
}

.section-link a:hover {
  color: black;
  
}

#intro {
  text-align: center;
  font-size: 1.875rem;
  font-family: Gill Sans;
  height: 50vh;
  padding: 3.125rem 0;
}

.title-myname {
  height: 100vh;
  font-family: Gill Sans;
  position: relative;
  top: 7rem;
  left: 35rem;
}

img.bg {
  min-height: 100%;
  min-width: 64rem;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 64rem) {
  img.bg {
    left: 50%;
    margin-left: 64rem;
  }
}

img {
  border: 0.063rem solid;
  border-radius: 0.313rem;
  position: absolute;
  top: 10rem;
  left: 10rem;
  height: 50%;
  width: 33%;
}

#visitor {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  display: flex;
}

#visitor p {
   font-size: 2rem;
   font-weight: bold;
}

#viewcounter {
  margin-left: 1.25rem;

}

ul {
  list-style-type: square;
}

h1 {
  position: absolute;
  top: 3.125rem;
  right: 20.313rem;
  width: 50%;
}

h3 {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
  background: steelblue;
}

.title-aboutme {
  position: relative;
}

.child {
  display: inline;
  float: left;
}

.kid{
  display: inline-block;
  float: bottom;
  width: 100%;
}

.para-aboutme {
  font-size: 1.25rem;
  padding: 1.563rem;
  width: 50%;
}

.list-bio {
  font-size: 1.25rem;
}

#bio {
}

.container {
  positoin: relative;
  top: 3.125rem;
  width: 100%;
  padding-top: 0.313rem;
  padding-bottom: 0.313rem;
}

.skills {
  text-align: right;
  padding: 0.313rem;
}

#skills {
  width: 40%;
  display: inline;
  float: right;
  position: relative;
  top: -1.5rem;
}
.title-skills {
  background: none;
}

.html {
  width: 90%; 
  background-color: steelblue;
}

.css {
  width: 80%;
  background: steelblue;
}

.js {
  width: 15%;
  background: steelblue;
}

.aws {
  width: 45%;
  background: steelblue;
}

#title-work {
  text-align: center;
  clear: both;
}

#WorkExperience {
  font-size: 1.25rem;
  position: relative;
}

#Education {
  font-size: 1.25rem;
  position: relative;
  top: 9.375rem;
  width: 100%;
}

.list-education {
  position: relative;
}




